{% extends 'layout.html' %}
{% block head %}
<div class="item header">民事案件</div>


{% endblock %}
{% block column1 %}
<div class="ui relaxed centered grid" style="height:150%" >
<div class="row" style="height: 50%">
    <div class="column" style="width:19%;height:100%;background-color: #ffffff">
    <div class="ui segment container row" style="height: 50%;background-color: #ffffff" >
        <div class="ui  container" style="height: 44%;width: 100%;">
        <div class="ui cen small statistic" style="margin: 12.5% 25%">
          <div class="value" >
            {{ case_outline|get_list:0|get_dict:'case_number' }}
          </div>
          <div class="label" style="font-size: 20px">
            案件数量
          </div>
        </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui  container" style="height: 44%;width: 100%;">
        <div class="ui cen small statistic" style="margin: 12.5% 25%">
          <div class="value">
            {{ case_outline|get_list:0|get_dict:'people_number' }}
          </div>
          <div class="label" style="font-size: 20px">
            当事人数量
          </div>
        </div>
        </div>

    </div>
    <div class="ui segment container row" style="height: 50%;background-color: #ffffff" id="chart2">
        案由统计

    </div>

</div>

    <div class="column" style="width:40%;height:100%;background-color: #ffffff">
        <div class="ui segment container row" style="height:102%;background-color: #ffffff" id="chart3"></div>
</div>

    <div class="column" style="width:40%;height:100%;background-color: #ffffff">
        <div class="ui segment container row" style="height: 50%;background-color: #ffffff" id="chart4"></div>
        <div class="ui segment container row" style="height: 50%;background-color: #ffffff" id="chart5">

    </div>
</div>
</div>
<div class="ui segment container row" style="height:35%;background-color: #ffffff">
        <div class="ui  container row" style="height: 10%;width: 100%">
           <span class="ui header " style="height:8%;">热点案件

            </span>
            <p></p>
                <div class="text" style="font-size: 16px"></div>
            <p></p>

        </div>
        <div class="ui divider" style="width: 100%"></div>

        <div class="ui container column" style="background-color: #ffffff;height: 80%;width: 50%;padding-left: 6em;line-height: 400%;font-size: 16px;" id="chart11">
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.0 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.0 }}</div>
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.1 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.1 }}</div>
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.2 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.2 }}</div>
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.3 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.3 }}</div>
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.4 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.4 }}</div>

        </div>
        <div class="ui container column" style="background-color: #ffffff;height: 80%;width: 50%;padding-left: 4em;line-height: 400%;font-size: 16px;" id="chart11">
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.5 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.5 }}</div>
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.6 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.6 }}</div>
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.7 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.7 }}</div>
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.8 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.8 }}</div>
            <div href="javascript:void(0);" onclick="jump('{% url 'detail' case_evaluation.case_id.9 %}')"><i class="file text icon" style="width: 10%;"> 案件难度</i>{{ case_evaluation.case_title.9 }}</div>
        </div>

</div>
<div class="ui segment container row" style="height:35%;background-color: #ffffff">
        <div class="ui  container row" style="height: 10%;width: 100%">
           <span class="ui header " style="height:8%;">重点案由

            </span>
            <p></p>
                <div class="text" style="font-size: 16px"></div>
            <p></p>

        </div>
<div class="ui divider" style="width: 100%"></div>

        <div class="ui container column" style="background-color: #ffffff;height: 80%;width: 50%" id="chart11">
            按案由中重点案件数量展示
        </div>

        <div class="ui container column" style="background-color: #ffffff;height: 80%;width:50%" id="chart12">
            按案由中重点案件比例展示
        </div>

</div>

</div>


{% endblock %}

{% block jschart %}

<script>
    function jump(url){

        window.open(url);
    }

    function map_chart(chart_name, chart_data){
    $.getJSON('https://data.jianshukeji.com/jsonp?filename=geochina/chongqing.json&callback=?', function(mapdata) {
var data = chart_data;

map1 = new Highcharts.Map(chart_name, {
title: {
text: '重庆地区案件分布'
},
mapNavigation: {
enabled: true,
buttonOptions: {
    verticalAlign: 'bottom'
}
},
credits:{
enabled:false,
},
exporting:{
enabled:false,
},
colorAxis: {
min: 0,
minColor: '#ffffff',
maxColor: '#006aee',
labels:{
    style:{
        "color":"red","fontWeight":"bold"
    }
}
},
series: [{
data: data,
mapData: mapdata,
joinBy: 'name',
name: '重庆市地图'
}]
});
});
}
    function his_chart(chart_name, chart_data){
    Highcharts.chart(chart_name,{
        chart: {
                type: 'bar'
                },
                credits:{
                        enabled:false
                },
                title: {
                text: '各地区收案情况'
                },

                exporting:{
                enabled:false,
                },
                legend:{
                        enabled:false
                },
                xAxis: {
                categories: chart_data[0],
                title: {
                text: null
                }
                },
                yAxis: {
                min: 0,
                title: {
                text: '案件数量',
                align: 'high'
                },

                },

                plotOptions: {
                bar: {
                dataLabels: {
                    enabled: true,
                    allowOverlap: true // 允许数据标签重叠
                }
                }
                },

                series: [ {
                name: '',
                data: chart_data[1]
                }]
                })
}
    
    function line_chart(chart_name, chart_data) {
    var chart = Highcharts.chart(chart_name, {
        title: {
        text: '案件时间趋势'
        },
        subtitle: {
        text: ''
        },
    xAxis:{
           categories:chart_data[0],
    },
        yAxis: {
        title: {
        text: '案件数量'
        }
        },
        credits:{
        enabled:false,
        },
        exporting:{
        enabled:false,
        },
        legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
        },
        plotOptions: {
        series: {
        label: {
            connectorAllowed: false
        },

        }
        },
        series: chart_data[1],
        responsive: {
        rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
        }]
        }
        });
    }

    function bubble_chart(chart_name, chart_data){
        Highcharts.chart(chart_name, {
                chart: {
                type: 'packedbubble',
                },
                title: {
                text: '案件案由数量'
                },
                tooltip: {
                useHTML: true,
                pointFormat: '<b>{point.name}:</b> {point.y}'
                },
                plotOptions: {
                packedbubble: {
                minSize: '30%',
                maxSize: '120%',
                zMin: 0,
                zMax: chart_data[0]['data'][0]['value'],
                layoutAlgorithm: {
                    splitSeries: false,
                    gravitationalConstant: 0.02
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}',
                    filter: {
                        property: 'y',
                        operator: '>',
                        value: 2000
                    },
                    style: {
                        color: 'black',
                        textOutline: 'none',
                        fontWeight: 'normal'
                    }
                }
                }
                },
                credits:{
                enabled:false,
                },
                exporting:{
                enabled:false,
                },
                series: chart_data,
                });
    }

    bubble_chart('chart2', {{ case_outline | get_list:1 | safe }});
    map_chart('chart3', {{ case_outline | get_list:0 | get_dict:'map' | safe }})
    his_chart('chart4', {{ case_outline | get_list:0 | get_dict:'case_region_number' | safe }});
    line_chart('chart5', {{ case_outline | get_list:0 | get_dict:'case_date_number' | safe }});


</script>



{% endblock %}