{% extends 'layout.html' %}
{% block head %}
<div class="item header">{{ details.category }}案件详情</div>


{% endblock %}

{% block column1 %}

<div class="ui centered grid" style="height:150%">
<div class="column" style="width:65%;">

        <h2 id="chart1" style="margin-top: 3%; margin-bottom: 2%; text-align: center">{{ details.title }}</h2>

        <div class="ui segment container row" style="width: 100%; font-size: 18px; line-height: 25px; ">
            <h3 class="row" style="text-align: center">案件受理信息</h3>
            <div class="ui divider"></div>
            <div class="row" style="font-size: 18px; white-space: pre-wrap; padding-left: 0.5em; line-height: 2em;text-align: center">{{ details.header }}</div>
            <h3 class="row" style="text-align: center">案件庭审信息</h3>
            <div class="ui divider"></div>
            <div class="row" style="font-size: 18px; white-space: pre-wrap; padding-left: 0.5em; line-height: 2em">{{ details.trial }}</div>
            <h3 class="row" style="text-align: center">案件判决信息</h3>
            <div class="ui divider"></div>
            <div class="row" style="font-size: 18px; white-space: pre-wrap; padding-left: 0.5em; line-height: 2em">{{ details.judgement }}</div>
        </div>
</div>
<div class="column" style="width: 30%;margin-top: 4.7%;  ">

        <div class="ui segment container row" >
            <h3 class="row" style="text-align: center">当事人信息</h3>
            <div class="ui divider"></div>
            <div class="row" style="font-size: 18px; white-space: pre-wrap; padding-left: 0.5em; line-height: 2em">{{ details.personnel }}</div>
        </div>
        <div class="ui segment container row"  style="height: 50%; ">
            <h3 class="row" style="text-align: center">案件评估</h3>
            <div class="ui divider"></div>
            <div class="row" style="font-size: 18px; white-space: pre-wrap; padding-left: 0.5em; line-height: 2em"></div>   
        </div>
</div>


</div>


{% endblock %}

