{% extends 'layout.html' %}
{% block head %}
<div class="item header">案件宏观态势研判</div>


{% endblock %}

{% block column1 %}

<div class="ui centered grid" style="height:100%">
    <div class="row" style="height: 70%;">
        <div class="column" style="width:28%;height: 100%;">
            <div class="ui row  container" style="height:33%; " id="chart1">
                <h1 style="text-align: center">
                    季度案件数量分析
                </h1>

                <table class="ui striped table" style="text-align: center;margin-top: 0">
                    <thead>
                        <tr>
                            <th>数量类型</th>
                            <th>案件数量</th>
                            <th>增幅比对</th>
                            <th>指示</th>
                        </tr>
                    </thead>

                    <tbody>
                    <tr>
                      <td>本季度收案数</td>
                      <td>{{ case_outline.sjc_case_data.3.0 | safe }}</td>
                        <td id="a"></td>
                        <td id="a-1">

                        </td>
                    </tr>
                    <tr>
                      <td>本季度结案数</td>
                      <td>{{ case_outline.sjc_case_data.3.2 | safe }}</td>
                        <td id="b"></td>
                        <td id="b-1">

                        </td>
                    </tr>
                    <tr>
                      <td>本季度旧存数</td>
                      <td>{{ case_outline.sjc_case_data.3.1 | safe }}</td>
                        <td id="c"></td>
                        <td id="c-1">

                        </td>

                    </tr>
                    <tr>
                      <td>本季度未结数</td>
                      <td>{{ case_outline.sjc_case_data.3.3 | safe }}</td>
                        <td id="d"></td>
                        <td id="d-1">

                        </td>

                    </tr>



  </tbody>
</table>
            </div>
            <div class="ui segment container row" style="height:33%; " id="chart2"></div>
            <div class="ui segment container row" style="height:33%; " id="chart2-1"></div>
        </div>

        <div class="column" style="width:38%;height: 100%;">
            <div class="ui segment container column" style="height:102%" id="chart3"></div>
        </div>

        <div class="column" style="width:34%;height: 100%;">
            <div class="ui segment container row" style="height:102%" id="chart4"></div>

        </div>
    </div>
    <div class="row" style="height: 30%;">
        <div class="column" style="width:50%;height: 100%">
            <div class="ui segment container" style="width:100%;height:100%" id="chart6"></div>
        </div>

        <div class="column" style="width:50%;height: 100%">
                <div class="ui segment container" style="width:100%;height:100%" id="chart7"></div>
        </div>
    </div>

</div>

<script>
    function jump(url){
        window.open(url);
    }
</script>

{% endblock %}


{% block jschart %}
{#{% include 'overview/draw_charts.js.html' %}#}
{% include 'overview/chart_js.html' %}
<script type="text/javascript">
function cal_percentage(id, data1, data2){
    {#alert(data1)#}
    {#alert(data2)#}
    var per = (data2-data1)/data1 * 100
    var output = toString(per) + '%'
    document.getElementById(id).innerText = per.toFixed(2) + '%'
    {#alert(per)#}
    if (per > 0){
        document.getElementById(id+ '-1').innerHTML = '<i class="large red arrow up icon"></i>'
    }else{
        document.getElementById(id+ '-1').innerHTML = '<i class="large green arrow down icon"></i>'
    }

}
cal_percentage('a',{{ case_outline.sjc_case_data.2.0 | safe }},{{ case_outline.sjc_case_data.3.0 | safe }})
cal_percentage('b',{{ case_outline.sjc_case_data.2.1 | safe }},{{ case_outline.sjc_case_data.3.1 | safe }})
cal_percentage('c',{{ case_outline.sjc_case_data.2.2 | safe }},{{ case_outline.sjc_case_data.3.2 | safe }})
cal_percentage('d',{{ case_outline.sjc_case_data.2.3 | safe }},{{ case_outline.sjc_case_data.3.3 | safe }})
his_chart('chart2',{{ case_outline.judge_his_data | safe }});
percent_chart('chart2-1',{{ case_outline.judge_his_data | safe }});
region_case_number('chart4',{{ case_outline.region_season_his_data | safe }});
line_chart('chart6', '审级分布', [{
		name: '案件总数',
		data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
	}, {
		name: '一审案件',
		data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
	}, {
		name: '二审案件',
		data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
	}, {
		name: '再审案件',
		data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
	}, {
		name: '终审案件',
		data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
	}]);
court_class('chart7',{{ case_outline.court_season_his_data | safe }});





{#pie_chart(['chart1', '案件数量'], {{ case_outline.pie_case_number | safe }});#}
{#pie_chart(['chart2', '案件涉案人数'], {{ case_outline.pie_people_number | safe }});#}
{#his_chart('chart4', {{ case_outline.case_region_number | safe }});#}
map_chart('chart3', {{ case_outline.map_data | safe }});

{#line1_chart('chart6', {{ case_outline.case_date_number | safe }});#}
{#bubble_chart('chart7', {{ case_outline.case_cause_distribution | safe }});#}
</script>

{% endblock %}