{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>法院审判态势研判与决策分析平台</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    {% block style %} {% endblock %}
</head>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/semantic.js' %}"></script>
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/exporting.js' %}"></script>
<script src="{% static 'js/echarts.min.js' %}"></script>
<script src="{% static 'js/oldie.js' %}"></script>
<script src="{% static 'js/networkgraph.js' %}"></script>
<script src="{% static 'js/drilldown.js' %}"></script>
<script src="{% static 'js/highcharts-more.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/grid-light.js' %}"> </script>
<body>
    <div class="ui menu" style="height: 8%;" >
        <div class="header item center " style="margin: 0 auto;font-size: 4vh; padding: 0 0">
            <div class="container center" style="padding: 0 0; margin: 0 0; line-height: 12px">
                <img src="{% static 'images/FY.jpg' %}" alt="法院" height="100%" width="100%"/>
            </div>
            法院审判态势研判与决策分析平台
        </div>
        {% block head %}{% endblock %}
    </div>
    <div class="ui menu" style="height: 60px;">
        <div class="ui basic dropdown button" id="aa" style="background-color:#ffffff" >
            <div class="item" style="font-weight: bold;font-size: 20px;height: 100%;"  >
                <i class="world icon"></i>案件宏观态势研判
            </div>
            <div class="menu">
                <div class="item">

                    <i class="dropdown icon"></i>
                    <span class="text">整体态势分析</span>
                    <div class="menu">
                        <a class="item" href="{% url 'overall' %}">整体案件态势</a>
                        <a class="item" href="{% url 'civil' %}">民事案件态势</a>
                        <a class="item" href="{% url 'criminal' %}">刑事案件态势</a>
                        <a class="item" href="{% url 'administrative' %}">行政案件态势</a>
                    </div>
                </div>
                <div class="item">

                    <i class="dropdown icon"></i>
                    <span class="text">类案态势分析</span>
                    <div class="menu">

                        <a class="item" href="{% url 'civil_case_situation' %}">民事类案态势</a>
                        <a class="item" href="{% url 'criminal_case_situation' %}">刑事类案态势</a>
                        <a class="item" href="{% url 'administrative_case_situation' %}">行政类案态势</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui basic dropdown button" style="background-color:#ffffff">
            <span class="item" style="font-weight: bold;font-size: 20px;height: 100%;" >
                <i class="book icon"></i>热点专题态势分析
            </span>
            <div class="menu">
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">民事专题分析</span>
                    <div class="menu">
                        <a class="item" href="{% url 'divorce_dispute' %}">离婚纠纷案件</a>
                        <a class="item" href="{% url 'loan_dispute' %}">借贷纠纷案件</a>
                        <a class="item" href="{% url 'labor_dispute' %}">劳动合同纠纷案件</a>
                        <a class="item" href="{% url 'product_dispute' %}">产品责任纠纷案件</a>
                        <a class="item" href="{% url 'inherit_dispute' %}">继承纠纷案件</a>
                    </div>
                </div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">刑事专题分析</span>
                    <div class="menu">
                        <a class="item" href="{% url 'dangerous_driving' %}">危险驾驶罪</a>
                        <a class="item" href="{% url 'theft' %}">盗窃罪</a>
                        <a class="item" href="{% url 'drug_trafficking' %}">走私、贩卖、运输毒品罪</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui basic dropdown button" id="aa" style="background-color:#ffffff" >
            <div class="item" style="font-weight: bold;font-size: 20px;height: 100%;"  >
                <i class="world icon"></i>审判质效评估优化
            </div>
            <div class="menu">
                <div class="item">


                    <a class="text" href="{% url 'situation_assessment.index' %} " style="color: #000000">审判质效司法指标分析</a>


                </div>
                <div class="item">



                    <a class="text" href="{% url 'situation_assessment.index' %}" style="color: #000000">营商环境司法指标分析</a>

                </div>

            </div>
        </div>
        <div class="ui  basic button" style="background-color:#ffffff" >
            <a class="item" style="font-weight: bold;font-size: 20px;height: 100%;" href="{% url 'receive_close_prediction' %}" >
            <i class="bar chart icon"></i>精细化管理预测</a>
        </div>
    </div>
    {% block column1 %}

    {% endblock %}
    {#        {% block column2 %}#}
    {##}
    {#        {% endblock %}#}
    {#        {% block column3 %}#}
    {##}
    {#        {% endblock %}#}


</body>

<script>
$('#menu').click(function () {
    $('#sidebar').sidebar('push page');
});

$('.ui.dropdown').dropdown({

});

</script>
{% block jschart %}
{% endblock %}
</html>