{% extends 'layout.html' %}
{% load static %}
{% block head %}
审判质效评估优化
{% endblock %}

{% block column1 %}
    <div class="ui centered grid" style="height:120%">

        <div class="row" style="height: 60%">
            <div class="column" style="width:33%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 45%;background-color: #ffffff">
                    <div class="ui left message" style="height:auto;width: 9vw">
                        <div class="ui header centered">2019重庆总体得分</div>
                    </div>
                    <div class="ui column" style="height:86%;width:75%;float:left" id="chart01"></div>
                    <div class="ui column" style="height:80%;width:25%;float:right">
                        <div class="ui big vertical label" style="margin-left: -35px; margin-top: -35px">
                            <div class="text value">评级</div>
                            <div class="text value">良好</div>
                        </div>
                        <div class="ui container" style="margin-top: 24px;font-style:italic;font-size: xx-small;margin-left: -10px;width: 65%">
                            <60: 不合格<br>
                            60-70: 合格<br>
                            70-80: 一般<br>
                            80-90: 良好<br>
                            90-100: 优秀<br>
                        </div>
                    </div>
                </div>
                <div class="ui segment container row" style="height: 53%;width:48%;background-color: #ffffff;float:left">
                    <div class="ui left message" style="height: auto;width: 9vw">
                        <div class="ui header centered">司法要素占比</div>
                    </div>
                    <div class="ui column" style="height:100%;width:100%" id="chart02"></div>
                </div>
                <div class="ui segment container row" style="height: 53%;width:52%;background-color: #ffffff;float:right">
                    <div class="ui left message" style="height: auto;width: 9vw">
                        <div class="ui header centered">司法要素得分</div>
                    </div>
                    <div class="ui column" style="height:100%;width:100%" id="chart03"></div>
                </div>
            </div>

            <div class="column" style="width:39%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height:100.8%;background-color: #ffffff">
                    <div class="ui left message" style="height: auto;width: 12vw">
                        <div class="ui header centered">2019重庆各法院营商司法得分</div>
                    </div>
                    <div class="ui container" style="height:85%" id="chart04"></div>
                </div>
            </div>

            <div class="column" style="width:28%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 46.5%;background-color: #ffffff">
                    <div class="ui left message" style="height: auto;width: 9vw">
                        <div class="ui centered header">2019优秀区县排名</div>
                    </div>
                    <div class="ui container" style="height:85%" id="chart05"></div>
                </div>
                <div class="ui segment container row" style="height: 53%;background-color: #ffffff" >
                    <div class="ui left message" style="height: auto;width: 9vw">
                        <div class="ui centered header">典型区县对比</div>
                    </div>
                    <div class="ui column" style="height:92%;margin-top:-22px" id="chart06"></div>
                    <div class="ui column" style="height:5%;width: 100%;margin-top: -28px; margin-left: 9px">
                        <i class="small info circle icon"></i>
                        <span style="font-size: xx-small">圆圈大小表示人口密度：万人/平方公里</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height: 45%">
            <div class="column" style="width:33%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: auto;width: 12vw">
                        <div class="ui centered header">重庆营商环境司法建设发展态势</div>
                    </div>
                    <div class="ui column" style="height:85%;width:100%" id="chart07"></div>
                </div>
            </div>

            <div class="column" style="width:39%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height:100%;background-color: #ffffff">
                    <div class="ui left message" style="height: auto;width: 9vw">
                        <div class="ui centered header">各司法分指标发展态势</div>
                    </div>
                    <div class="ui container" style="height:75%; margin-top:30px" id="chart08"></div>
                    <div class="ui column" style="height:5%;width: 100%;margin-top: -10px; margin-left: 9px">
                        <a href="{% url 'situation_assessment.relationship' %}">
                            <i class="small info circle icon"></i>
                            <span style="font-size: xx-small">查看指标关联关系</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column" style="width:28%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: auto;width: 9vw">
                        <div class="ui centered header">年度分数对比</div>
                    </div>
                    <div class="ui container" style="height:95%" id="chart09"></div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block jschart %}
    <script src="{% static 'js/solid-gauge.js' %}"></script>
    <script>
        // 条状图函数，输入为id和作图数据
        function bar_chart(chart_name, chart_data) {
            {#console.log(chart_name);#}
            {#console.log(chart_data);#}
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                    // text: chart_data['title']
                },

                exporting: {
                    enabled: false,
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    categories: chart_data['x'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '得分',
                        align: 'high'
                    },

                },

                plotOptions: {
                    bar: {
                        barWidth: 5,
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true // 允许数据标签重叠
                        }
                    }
                },

                series: [{
                    name: '',
                    data: chart_data['data']
                }]
            });
        }
        // bar_chart('chart1', {{ rank_data | safe}});
        // bar_chart('chart13', {{ diff_data | safe }});
        bar_chart('chart05', {{ rank_data | safe}} )

        // 折线图函数，输入为id和作图数据
        function line_chart(chart_name, chart_data) {
            var chart = Highcharts.chart(chart_name, {
                title: {
                    text: '营商环境司法建设总体态势'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: chart_data['xCategory']
                },
                yAxis: {
                    min: 50,
                    max: 90,
                    title: {
                        text: '得分'
                    },
                    // categories: chart_data['yCategory']
                },
                credits: {
                    enabled: false,
                },
                exporting: {
                    enabled: false,
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        dataLabels: {
                            align: 'center',
                            enabled: false
                        }
                    }
                },
                series: chart_data['series'],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
        }
        // line_chart('chart3', {{ line_data | safe }});

        // 热力图函数，输入为id和作图数据
        function heat_chart(chart_name, chart_data){
            $.getJSON('../static/js/chongqing.json', function(mapdata) {
                var data = chart_data;
                map1 = new Highcharts.Map(chart_name, {
                    title: {
                        text: null
                        // text: '2019重庆营商环境司法建设得分'
                    },
                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },
                    credits: {
                        enabled: false,
                    },
                    exporting: {
                        enabled: false,
                    },
                    colorAxis: {
                        min: 70,
                        max: 100,
                        minColor: '#fff',
                        maxColor: '#0087ee',
                        labels: {
                            style: {
                                "color": "red", "fontWeight": "bold"
                            }
                        }
                    },
                    series: [{
                        data: data,
                        mapData: mapdata,
                        joinBy: 'name',
                        name: '重庆市地图'
                    }]
                });
            });
        }
        heat_chart('chart04', {{ heatmap_data | safe }});

        // 柱状图函数，输入id和作图数据
        function hist_chart(chart_name, chart_data){
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '重庆营商环境司法指标态势'
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: chart_data['xCategory'],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: '得分'
                    }
                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    },
		            series: {
			            dataLabels: {
				            enabled: true
			            }
		            }
                },
                series: chart_data['series']
            });
        }
        // hist_chart('chart4', {{ hist_data | safe }});

        // 仪表图函数，输入id
        function gauge_chart_pccl(chart_name1, chart_name2){
            // 时间
            var chart7 = Highcharts.chart(chart_name1, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['62.2%', '60%'],
                    size: '66%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: '回收率',
                        y: -67,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '回收率',
                    data: [39.8],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:24px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
            // 成本
            var chart8 = Highcharts.chart(chart_name2, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['62.2%', '60%'],
                    size: '66%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: '破产框架力度指数',
                        y: -67,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '破产框架力度指数',
                    data: [84.4],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:24px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
            // 司法程序质量指数
        }
        function gauge_chart_htzx(chart_name1, chart_name2, chart_name3){
            // 时间
            var chart9 = Highcharts.chart(chart_name1, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['53%', '56%'],
                    size: '75%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: '时间',
                        y: -62,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '时间',
                    data: [70.1],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:24px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
            // 成本
            var chart10 = Highcharts.chart(chart_name2, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['53%', '56%'],
                    size: '75%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: '成本',
                        y: -62,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '成本',
                    data: [83.1],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:24px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
            // 司法程序质量指数
            var chart11 = Highcharts.chart(chart_name3, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['53%', '56%'],
                    size: '75%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: '司法程序质量指数',
                        y: -62,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '司法程序质量指数',
                    data: [91.7],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:24px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
        }
        function gauge_chart_overall(chart_name){
            // 时间
            var chart7 = Highcharts.chart(chart_name, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['62%', '42.2%'],
                    size: '84%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: null,
                        y: -67,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '总分',
                    data: [86.7],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:24px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            })
        }
        // gauge_chart_pccl('chart7', 'chart8');
        // gauge_chart_htzx('chart9', 'chart10', 'chart11');
        gauge_chart_overall('chart01');

        // 蜘蛛图函数，输入id和作图数据
        function spider_map(chart_name, chart_data){
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    polar: true,
                    type: 'line'
                },
                title: {
                    text: chart_data['title'],
                    x: 0,
                    y: 8
                },
                credits: {
                    enabled: false,
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    size: '90%'
                },
                xAxis: {
                    categories: chart_data['x'],
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },
                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0,
                    max: 100
                },
                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.1f}</b><br/>'
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'right',
                    layout: 'vertical'
                },
                series: chart_data['series']
            });
        }
        // spider_map('chart12', {{ spider_data | safe }});

        // 饼图函数，输入id
        function pie_chart(chart_name){
            // 创建渐变色
            Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
                return {
                    radialGradient: {cx: 0.5, cy: 0.3, r: 0.7},
                    stops: [
                        [0, color],
                        [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                    ]
                };
            });
            // 构建图表
            var chart = Highcharts.chart(chart_name, {
                title: {
                    text: null
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        center: ['20%', '38%'],
                        size: 100,
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            },
                            connectorColor: 'silver'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: null,
                    data: [
                        ['执行合同', 15],
                        ['办理破产', 6],
                        ['保护中小投资者', 4],
                    ]
                }]
            });
        }
        function e_pie_chart(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            var option = {
                title: {
                    text: null,
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    show: true,
                    orient: 'horizontal',

                    // bottom: 'bottom',
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '50%',
                        center: ['50%', '45%'],
                        data: [
                            {value: 15, name: '执行合同'},
                            {value: 6, name: '办理破产'},
                            {value: 4, name: '保护中小投资者'},
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            myChart.setOption(option);
        }
        e_pie_chart('chart02');

        // 雷达图函数, 输入id
        function e_radar_chart(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                title: {
                    text: null,
                },
                tooltip: {
                    trigger: 'item',
                    backgroundColor: 'rgba(0,0,250,0.2)'
                },
                legend: {
                    show: null,
                    type: 'scroll',
                    bottom: 10
                },
                visualMap: {
                    orient: 'horizontal',
                    top: 0,
                    right: 0,
                    color: ['red', 'white'],
                    calculable: true,
                    min: 60,
                    max: 100,
                    hoverlink: true
                },
                radar: {
                    center: ['50%', '50%'],
                    radius: '56%',
                    name: {
                        textStyle: {
                            color: '#fff',
                            backgroundColor: '#999',
                            borderRadius: 3,
                            padding: [3, 5]
                        }
                    },
                    indicator: [
                        {text: '保护中小投资者', min: 60, max: 100},
                        {text: '执行合同', min: 60, max: 100},
                        {text: '办理破产', min: 60, max: 100}
                    ]
                },
                label: {
                    show: false,
                    position: 'left'
                },
                series: [{
                    type: 'radar',
                    // areaStyle: {normal: {}},
                    data: [{name: '2019', value: [89.2, 89.7, 81.0]}]
                }]
            };
            myChart.setOption(option);
        }
        e_radar_chart('chart03');

        // 气泡图函数，输入id
        function e_bubble_chart(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            var data = [
                [[186.7, 94.5, 0.0165, '酉阳县', '偏远地区'], [150.6, 94.4, 0.0197, '秀山县', '偏远地区'], [231.9, 96.1, 0.0199, '黔江区', '偏远地区'], [128.7, 92.9, 0.0128, '彭水县', '偏远地区'], [48.8, 90.8, 0.0056, '城口县', '偏远地区'], [116.1, 85.2, 0.0215, '巫山县', '偏远地区']],
                [[1301.3, 79.9, 0.65, '渝中区', '中心城区'], [1027.9, 77.5, 0.40, '江北区', '中心城区'], [860.2, 78.6, 0.21, '沙家坝区', '中心城区'], [1130.4, 81.4, 0.28, '九龙坡区', '中心城区'], [791.6, 90.8, 0.34, '南岸区', '中心城区'], [176.7, 81.8, 0.33, '大渡口区', '中心城区']]
            ];
            option = {
                legend: {
                    top: 10,
                    right: 42
                },
                xAxis: {
                    splitLine: {
                        lineStyle: {
                            type: 'dashed'
                        }
                    },
                    name: 'GDP'
                },
                yAxis: {
                    splitLine: {
                        lineStyle: {
                            type: 'dashed'
                        }
                    },
                    min: 70,
                    max: 100,
                    scale: true,
                    name: '营商司法得分'
                    // offset: -20
                },
                series: [{
                    name: '偏远地区',
                    data: data[0],
                    type: 'scatter',
                    symbolSize: function (data) {
                        return Math.sqrt(data[2]) * 180;
                    },
                    emphasis: {
                        label: {
                            show: true,
                            formatter: function (param) {
                                return param.data[3];
                            },
                            position: 'top'
                        }
                    },
                    itemStyle: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(120, 36, 50, 0.5)',
                        shadowOffsetY: 5,
                        color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                            offset: 0,
                            color: 'rgb(251, 118, 123)'
                        }, {
                            offset: 1,
                            color: 'rgb(204, 46, 72)'
                        }])
                    }
                }, {
                    name: '中心城区',
                    data: data[1],
                    type: 'scatter',
                    symbolSize: function (data) {
                        return Math.sqrt(data[2]) * 90;
                    },
                    emphasis: {
                        label: {
                            show: true,
                            formatter: function (param) {
                                return param.data[3];
                            },
                            position: 'top'
                        }
                    },
                    itemStyle: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(25, 100, 150, 0.5)',
                        shadowOffsetY: 5,
                        color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                            offset: 0,
                            color: 'rgb(129, 227, 238)'
                        }, {
                            offset: 1,
                            color: 'rgb(25, 183, 207)'
                        }])
                    },
                }]
            };
            myChart.setOption(option);
        }
        e_bubble_chart('chart06')

        // 折线图函数，输入id
        function e_line_chart(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                xAxis: {
                    type: 'category',
                    data: ['2016', '2017', '2018', '2019'],
                    name: '年份',
                },
                yAxis: {
                    type: 'value',
                    min: 60,
                    max: 100,
                    name: '得分',
                    minorTick: {
                        show: true
                    },
                    minorSplitLine: {
                        show: true
                    }
                },
                legend: {
                    show: true,
                    top: 14
                },
                series: [{
                    name: '重庆',
                    data: [81.9, 84.1, 84.3, 86.7],
                    type: 'line',
                    symbol: 'triangle',
                    symbolSize: 10,
                    lineStyle: {
                        color: 'green',
                        width: 3,
                        type: 'dashed'
                    },
                    itemStyle: {
                        // borderWidth: 3,
                        // borderColor: 'yellow',
                        color: 'blue'
                    },
                    label:{
                        show: true,
                        position: 'top',
                        color: 'blue'
                    }
                    }
                ]
            };
            myChart.setOption(option);
        }
        e_line_chart('chart07');

        // 混合条状图函数，输入id
        function e_bar_chart(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                legend: {
                    data: ['执行合同', '办理破产', '保护中小投资者'],
                    // y: '12px'
                },

                xAxis: {
                    type: 'value'
                },
                yAxis: {
                    type: 'category',
                    data: ['2016', '2017', '2018', '2019']
                },
                series: [
                    {
                        name: '执行合同',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            show: true,
                            position: 'insideRight'
                        },
                        data: [85.8, 85.4, 86.6, 89.7]
                    },
                    {
                        name: '办理破产',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            show: true,
                            position: 'insideRight'
                        },
                        data: [78.3, 80.6, 80.1, 81.0]
                    },
                    {
                        name: '保护中小投资者',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            show: true,
                            position: 'insideRight'
                        },
                        data: [81.5, 86.5, 86.3, 89.2],
                        markLine: {
                            lineStyle: {
                                type: 'dashed'
                            },
                            data: [
                                [{type: 'min'}, {type: 'max'}]
                            ]
                        }
                    }
                ]
            };
            myChart.setOption(option);
        }
        e_bar_chart('chart08');

        // 年度对比雷达图，输入id
        function e_radar_chart2(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                tooltip: {},
                legend: {
                    show: true,
                    orient: 'vertical',
                    right: 40,
                    top: 80
                },
                radar: {
                    // shape: 'circle',
                    name: {
                        textStyle: {
                            color: '#fff',
                            backgroundColor: '#999',
                            borderRadius: 3,
                            padding: [3, 5]
                        }
                    },
                    indicator: [
                        {name: '保护中小投资者', min: 60, max: 100},
                        {name: '执行合同', min: 60, max: 100},
                        {name: '办理破产', min: 60, max: 100},
                    ]
                },
                series: [{
                    name: '2018 vs 2019',
                    type: 'radar',
                    // areaStyle: {normal: {}},
                    areaStyle: {
                        type: 'normal',
                        opacity: 0.6, // 图表中各个图区域的透明度
                        // color: "#1686c2" // 图表中各个图区域的颜色
                    },
                    data: [
                        {
                            value: [86.3, 86.6, 80.1],
                            name: '2018',
                            {#areaStyle: {#}
                            {#    type: 'default',#}
                            {#    opacity: 0.6,#}
                            {#    color: "#DC143C" // 图表中各个图区域的颜色#}

                        },
                        {
                            value: [89.2, 89.7, 81.0],
                            name: '2019',
                            {#areaStyle: {#}
                            {#    type: 'default',#}
                            {#    opacity: 0.6, // 图表中各个图区域的透明度#}
                            {#    color: "#1E90FF" // 图表中各个图区域的颜色#}

                        }
                    ]
                }]
            };
            myChart.setOption(option);
        }
        e_radar_chart2('chart09');

    </script>
{% endblock %}