{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <div class="item header">态势研判——营商环境</div>
{% endblock %}

{% block column1 %}
    <div class="ui centered grid" style="height:150%">
        <!--<div class="row" style="height: 65%; margin-top: 20px">
            <div class="column" style="width: 66%;" id="chart5">
                <div class="ui segment container row" style="width: 100%; height: 100%" id="">
                    <h2 class="ui center aligned dividing header">
                        <div class="ui small message">营商指标年度对比 (重庆)</div>
                    </h2>

                    <table class="ui very basic center aligned table" style="font-size: large">
                    <thead>
                        <tr class="center aligned">
                            <th class="three wide">主题</th>
                            <th class="two wide">DB 2019分数</th>
                            <th class="two wide">DB 2019排名</th>
                            <th class="two wide">DB 2018分数</th>
                            <th class="two wide">DB 2018排名</th>
                            <th class="two wide">排名变化</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="center aligned active">
                            <td>总体</td>
                            <td>77.9</td>
                            <td>31</td>
                            <td>74.0</td>
                            <td>54</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>23</td>
                        </tr>
                        <tr class="center aligned">
                            <td>企业创办<i class="check icon" style="font-size: 12px"></i></td>
                            <td>94.1</td>
                            <td>27</td>
                            <td>93.4</td>
                            <td>31</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>4</td>
                        </tr>
                        <tr class="center aligned active">
                            <td>
                                <a href="#pccl">破产处理<i class="check icon" style="font-size: 12px"></i></a>
                            </td>
                            <td>62.1</td>
                            <td>51</td>
                            <td>55.9</td>
                            <td>78</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>27</td>
                        </tr>
                        <tr class="center aligned">
                            <td>施工许可<i class="check icon" style="font-size: 12px"></i></td>
                            <td>77.3</td>
                            <td>33</td>
                            <td>65.2</td>
                            <td>48</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>15</td>
                        </tr>
                        <tr class="center aligned">
                            <td>电力许可<i class="check icon" style="font-size: 12px"></i></td>
                            <td>95.4</td>
                            <td>12</td>
                            <td>92.0</td>
                            <td>17</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>5</td>
                        </tr>
                        <tr class="center aligned">
                            <td>财产登记<i class="check icon" style="font-size: 12px"></i></td>
                            <td>81.0</td>
                            <td>28</td>
                            <td>80.8</td>
                            <td>30</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>2</td>
                        </tr>
                        <tr class="center aligned active">
                            <td>
                                <a href="#htzx">合同执行<i class="check icon" style="font-size: 12px"></i></a>
                            </td>
                            <td>80.9</td>
                            <td>5</td>
                            <td>79.0</td>
                            <td>11</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>6</td>
                        </tr>
                        <tr class="center aligned">
                            <td>信贷获取<i class="x icon" style="font-size: 12px"></i></td>
                            <td>60.0</td>
                            <td>80</td>
                            <td>60.0</td>
                            <td>77</td>
                            <td><i class="arrow down icon" style="font-size: 12px; color: #8B0000"></i>3</td>
                        </tr>
                        <tr class="center aligned">
                            <td>中小投资者保护<i class="check icon" style="font-size: 12px"></i></td>
                            <td>72.0</td>
                            <td>28</td>
                            <td>62.0</td>
                            <td>54</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>26</td>
                        </tr>
                        <tr class="center aligned">
                            <td>税务缴纳<i class="check icon" style="font-size: 12px"></i></td>
                            <td>70.1</td>
                            <td>105</td>
                            <td>67.9</td>
                            <td>121</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>16</td>
                        </tr>
                        <tr class="center aligned">
                            <td>跨境贸易<i class="check icon" style="font-size: 12px"></i></td>
                            <td>86.5</td>
                            <td>56</td>
                            <td>83.4</td>
                            <td>61</td>
                            <td><i class="arrow up icon" style="font-size: 12px; color: #006400"></i>5</td>
                        </tr>
                    </tbody>
                    </table>

                    <div class="ui divider"></div>
                    </br>
                    <i class="blue check icon"></i>
                    <span>=改革使得营商更加便捷</span><span>&ensp;</span>
                    <i class="blue x icon"></i>
                    <span>=改革使得营商更加困难</span><span>&ensp;&ensp;</span>
                    <i class="exclamation circle icon"></i>
                    <span>破产处理与合同执行是两个与司法相关的一级指标</span>
                </div>
            </div>

            <div class="column" style="width: 32%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="width: 100%; height: 49%" id="chart12"></div>
                <div class="ui segment container row" style="width: 100%; height: 49%" id="chart13"></div>
            </div>
        </div>-->

        <div class="row" style="height: 45%; margin-top: 20px">
            <div class="ui segment container row" style="height: 11%; width:96.5%">
                <h3 class="ui center header" style="font-size: 21px">
                    营商环境司法指标-办理破产
                </h3>
            </div>

            <div class="column" style="width:24%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 9%;width: 43%">
                        <div class="header">办理破产指标得分</div>
                    </div>
                    <div class="ui column" style="height:83%;width:63%;float:left;margin-left:30px" id="chart1"></div>
                    <div class="ui column" style="height:80%;width:26%;float:right;margin-left:10px">
                        <div class="ui huge vertical label" style="margin-left: -15px; margin-top: 26px">
                            <div class="text value">评级</div>
                            <div class="text value">良好</div>
                        </div>
                        <div class="ui container" style="margin-top: 200px;font-style:italic;font-size: xx-small;margin-left: 20px;width: 65%">
                            <60: 不合格<br>
                            60-70: 合格<br>
                            70-80: 一般<br>
                            80-90: 良好<br>
                            90-100: 优秀<br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column" style="width:44%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 9%;width: 18%">
                        <div class="header">指标关联关系</div>
                    </div>
                    <div class="column" style="height:90%;width:100%;margin-top: -6px" id="chart2"></div>
                </div>

            </div>

            <div class="column" style="width:30%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 9%;width: 39%">
                        <div class="header">对应审判质效指标得分</div>
                    </div>
                    <div class="ui column" style="height:86%;width:100%;" id="chart3"></div>

                </div>
            </div>
        </div>

        <div class="row" style="height: 50%; margin-top: 90px">
            <div class="ui segment container row" style="height: 11%; width:96.5%">
                <h3 class="ui center header" style="font-size: 21px">
                    营商环境司法指标-执行合同
                </h3>
            </div>

            <div class="column" style="width:24%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 8%;width: 43%">
                        <div class="header">执行合同指标得分</div>
                    </div>
                    <div class="ui column" style="height:79%;width:63%;float:left;margin-top:25px;margin-left:30px" id="chart4"></div>
                    <div class="ui column" style="height:80%;width:26%;float:right;margin-left: 5px">
                        <div class="ui huge vertical label" style="margin-left: -10px; margin-top: 60px">
                            <div class="text value">评级</div>
                            <div class="text value">良好</div>
                        </div>
                        <div class="ui container" style="margin-top: 220px;font-style:italic;font-size: xx-small;margin-left: 20px;width: 65%">
                            <60: 不合格<br>
                            60-70: 合格<br>
                            70-80: 一般<br>
                            80-90: 良好<br>
                            90-100: 优秀<br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column" style="width:44%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 8%;width: 18%">
                        <div class="header">指标关联关系</div>
                    </div>
                    <div class="column" style="height:90%;width:100%;margin-top: -6px" id="chart5"></div>
                </div>

            </div>

            <div class="column" style="width:30%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 8%;width: 39%">
                        <div class="header">对应审判质效指标得分</div>
                    </div>
                    <div class="ui column" style="height:100%;width:100%;" id="chart6"></div>

                </div>
            </div>
        </div>

        <div class="row" style="height: 45%; margin-top: 90px">
            <div class="ui segment container row" style="height: 11%; width:96.5%">
                <h3 class="ui center header" style="font-size: 21px">
                    营商环境司法指标-保护中小投资者
                </h3>
            </div>

            <div class="column" style="width:24%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 9%;width: 55%">
                        <div class="header">保护中小投资者指标得分</div>
                    </div>
                    <div class="ui column" style="height:83%;width:63%;float:left; margin-left:30px" id="chart7"></div>
                    <div class="ui column" style="height:80%;width:26%;float:right">
                        <div class="ui huge vertical label" style="margin-left: -15px; margin-top: 26px">
                            <div class="text value">评级</div>
                            <div class="text value">良好</div>
                        </div>
                        <div class="ui container" style="margin-top: 200px;font-style:italic;font-size: xx-small;margin-left: 20px;width: 65%">
                            <60: 不合格<br>
                            60-70: 合格<br>
                            70-80: 一般<br>
                            80-90: 良好<br>
                            90-100: 优秀<br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column" style="width:44%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 9%;width: 18%">
                        <div class="header">指标关联关系</div>
                    </div>
                    <div class="column" style="height:90%;width:100%;margin-top: -6px" id="chart8"></div>
                </div>

            </div>

            <div class="column" style="width:30%;height:100%;background-color: #ffffff">
                <div class="ui segment container row" style="height: 100%;background-color: #ffffff">
                    <div class="ui left message" style="height: 9%;width: 39%">
                        <div class="header">对应审判质效指标得分</div>
                    </div>
                    <div class="ui column" style="height:86%;width:100%;" id="chart9"></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jschart %}
<script src="{% static 'js/sankey.js' %}"></script>
    <script>
        // 条状图函数，输入为id和作图数据
        function bar_chart(chart_name, chart_data) {
            {#console.log(chart_name);#}
            {#console.log(chart_data);#}
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                    // text: chart_data['title']
                },

                exporting: {
                    enabled: false,
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    categories: chart_data['x'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '得分',
                        align: 'high'
                    },

                },

                plotOptions: {
                    bar: {
                        barWidth: 5,
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true // 允许数据标签重叠
                        }
                    }
                },

                series: [{
                    name: '',
                    data: chart_data['data']
                }]
            });
        }
        // bar_chart('chart13', {{ diff_data | safe }});

        // 柱状图函数，输入id和作图数据
        function hist_chart(chart_name, chart_data){
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '重庆营商环境司法指标态势'
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: chart_data['xCategory'],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: '得分'
                    }
                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    },
		            series: {
			            dataLabels: {
				            enabled: true
			            }
		            }
                },
                series: chart_data['series']
            });
        }
        // hist_chart('chart4', {{ hist_data | safe }});

        // 蜘蛛图函数，输入id和作图数据
        function spider_map(chart_name, chart_data){
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    polar: true,
                    type: 'line'
                },
                title: {
                    text: chart_data['title'],
                    x: 0,
                    y: 8
                },
                credits: {
                    enabled: false,
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    size: '90%'
                },
                xAxis: {
                    categories: chart_data['x'],
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },
                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0,
                    max: 100
                },
                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.1f}</b><br/>'
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'right',
                    layout: 'vertical'
                },
                series: chart_data['series']
            });
        }
        // spider_map('chart12', {{ spider_data | safe }});

        // 桑基图函数，输入id
        function sankey_map_blpc(chart_name){
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'sankey'
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                },
                series: [{
                    keys: ['from', 'to', 'weight'],
                    data: [
                        ['办理破产', '执行标的到位率', 0.4],
                        ['办理破产', '实际执行率', 0.25],
                        ['办理破产', '裁判自动履行率', 0.14],
                        ['办理破产', '平均执行时间指数', 0.21],
                    ],
                    name: '办理破产'
                }]
            });
        }
        function sankey_map_zxht(chart_name){
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'sankey'
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                },
                series: [{
                    keys: ['from', 'to', 'weight'],
                    data: [
                        ['执行合同', '时间指标', 7],
                        ['执行合同', '司法程序质量指标', 16],
                        ['时间指标', '起诉和送达时间', 1],
                        ['时间指标', '审理和获得判决时间', 3],
                        ['时间指标', '执行判决时间', 3],
                        ['起诉和送达时间', '平均立案时间指数', 2/3],
                        ['起诉和送达时间', '法定期限内立案率', 1/3],
                        ['审理和获得判决时间', '平均审理时间指数', 2],
                        ['审理和获得判决时间', '未审结案件持续时间与审限比', 1/2],
                        ['审理和获得判决时间', '法定期限内结案率', 1/2],
                        ['执行判决时间', '平均执行时间指数', 3],
                        ['司法程序质量指标', '法院结构和程序', 3],
                        ['司法程序质量指标', '案件管理', 6],
                        ['司法程序质量指标', '法院自动化', 3],
                        ['司法程序质量指标', '其他争议解决机制', 4],
                        ['法院结构和程序', '一审简易程序适用率', 2],
                        ['法院结构和程序', '法官年人均结案数', 1/2],
                        ['法院结构和程序', '禁止违规交往', 1/2],
                        ['案件管理', '结案率复合指数', 2],
                        ['案件管理', '法定期限内结案率', 3],
                        ['案件管理', '平均立案时间指数', 1],
                        ['法院自动化', '当庭裁判率', 1],
                        ['法院自动化', '平均审理时间指数', 1],
                        ['法院自动化', '裁判文书公开率', 1],
                        ['其他争议解决机制', '调解率', 3],
                        ['其他争议解决机制', '调节案件申请执行率', 1],
                    ],
                    name: '执行合同'
                }]
            });
        }
        function sankey_map_bhzxtzz(chart_name){
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'sankey'
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                },
                series: [{
                    keys: ['from', 'to', 'weight'],
                    data: [
                        ['保护中小投资者', '一审简易程序适用率', 3],
                        ['保护中小投资者', '执行标的到位率', 3],
                        ['保护中小投资者', '实际执行率', 1],
                        ['保护中小投资者', '调解率', 1],
                    ],
                    name: '办理破产'
                }]
            });
        }
        sankey_map_blpc('chart2');
        sankey_map_zxht('chart5');
        sankey_map_bhzxtzz('chart8');

        // 雷达图函数，输入id
        function e_radar_chart_blpc(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                tooltip: {},
                legend: {
                    show: true,
                    orient: 'vertical',
                    right: 40,
                    top: 80
                },
                radar: {
                    // shape: 'circle',
                    name: {
                        textStyle: {
                            color: '#fff',
                            backgroundColor: '#999',
                            borderRadius: 3,
                            padding: [3, 5]
                        }
                    },
                    indicator: [
                        {name: '执行标的到位率', min: 60, max: 100},
                        {name: '实际执行率', min: 60, max: 100},
                        {name: '裁判自动旅行率', min: 60, max: 100},
                        {name: '平均执行时间', min: 60, max: 100}
                    ]
                },
                series: [{
                    name: '办理破产',
                    type: 'radar',
                    // areaStyle: {normal: {}},
                    areaStyle: {
                        type: 'normal',
                        opacity: 0.8, // 图表中各个图区域的透明度
                        // color: "#1686c2" // 图表中各个图区域的颜色
                    },
                    data: [
                        {
                            value: [76.9, 93.4, 72.9, 86.4],
                            name: '2019',
                        }
                    ]
                },
                {
                    name: '办理破产',
                    type: 'radar',
                    // areaStyle: {normal: {}},
                    areaStyle: {
                        type: 'normal',
                        opacity: 0.8, // 图表中各个图区域的透明度
                        // color: "#1686c2" // 图表中各个图区域的颜色
                    },
                    data: [
                        {
                            value: [72.2, 91.8, 83.0, 79.3],
                            name: '2018',
                        }
                    ]
                }
                ]
            };
            myChart.setOption(option);
        }
        function e_radar_chart_zxht(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                title: {
                    text: null
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    left: '385px',
                    top: '198px',
                    data: ['2019时间指标', '2018时间指标', '2019司法程序质量', '2018司法程序质量']
                },
                radar: [
                    {
                        indicator: [
                            {text: '平均立案时间指数', min: 60, max: 100},
                            {text: '法定期限内立案率', min: 60, max: 100},
                            {text: '平均审理时间指数', min: 60, max: 100},
                            {text: '未审结案件持续时间与审限比', min: 60, max: 100},
                            {text: '法定期限内结案率', min: 60, max: 100},
                            {text: '平均执行时间指数', min: 60, max: 100},

                        ],
                        center: ['48%', '20%'],
                        radius: 80
                    },
                    {
                        indicator: [
                            {text: '一审简易程序适用率', min: 60, max: 100},
                            {text: '法官年人均结案数', min: 60, max: 100},
                            {text: '禁止违规交往', min: 60, max: 100},
                            {text: '结案率复合指数', min: 60, max: 100},
                            {text: '法定期限内结案率', min: 60, max: 100},
                            {text: '平均立案时间指数', min: 60, max: 100},
                            {text: '当庭裁判率', min: 60, max: 100},
                            {text: '平均审理时间指数', min: 60, max: 100},
                            {text: '裁判文书公开率', min: 60, max: 100},
                            {text: '调解率', min: 60, max: 100},
                            {text: '调节案件申请执行率', min: 60, max: 100},
                        ],
                        radius: 80,
                        center: ['48%', '67%'],
                    },

                ],
                series: [
                    {
                        type: 'radar',
                        tooltip: {
                            trigger: 'item'
                        },
                        areaStyle: {},
                        data: [
                            {
                                value: [81.1, 95, 82.8, 96.1, 97, 86.4],
                                name: '2019时间指标'
                            }
                        ]
                    },
                    {
                        type: 'radar',
                        tooltip: {
                            trigger: 'item'
                        },
                        areaStyle: {},
                        data: [
                            {
                                value: [80.1, 93.2, 82.3, 86.8, 96, 79.3],
                                name: '2018时间指标'
                            }
                        ]
                    },
                    {
                        type: 'radar',
                        radarIndex: 1,
                        areaStyle: {},
                        data: [
                            {
                                value: [95, 78.5, 90, 78.3, 95, 81.1, 74.5, 82.8, 98, 84.3, 72.3],
                                name: '2019司法程序质量'
                            }
                        ]
                    },
                    {
                        type: 'radar',
                        radarIndex: 1,
                        areaStyle: {},
                        data: [
                            {
                                value: [93.2, 88.5, 87, 84.2, 94, 80.1, 73.9, 82.3, 95, 77.3, 76.3],
                                name: '2018司法程序质量'
                            }
                        ]
                    }
                ]
            };
            myChart.setOption(option);
        }
        function e_radar_chart_bhzxtzz(chart_name){
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                tooltip: {},
                legend: {
                    show: true,
                    orient: 'vertical',
                    right: 40,
                    top: 80
                },
                radar: {
                    // shape: 'circle',
                    name: {
                        textStyle: {
                            color: '#fff',
                            backgroundColor: '#999',
                            borderRadius: 3,
                            padding: [3, 5]
                        }
                    },
                    indicator: [
                        {name: '一审简易程序适用率', min: 60, max: 100},
                        {name: '执行标的到位率', min: 60, max: 100},
                        {name: '实际执行率', min: 60, max: 100},
                        {name: '调解率', min: 60, max: 100}
                    ]
                },
                series: [{
                    name: '保护中小投资者',
                    type: 'radar',
                    // areaStyle: {normal: {}},
                    areaStyle: {
                        type: 'normal',
                        opacity: 0.8, // 图表中各个图区域的透明度
                        // color: "#1686c2" // 图表中各个图区域的颜色
                    },
                    data: [
                        {
                            value: [86.3, 76.9, 93.4, 84.3],
                            name: '2019',
                        }
                    ]
                },
                {
                    name: '保护中小投资者',
                    type: 'radar',
                    // areaStyle: {normal: {}},
                    areaStyle: {
                        type: 'normal',
                        opacity: 0.8, // 图表中各个图区域的透明度
                        // color: "#1686c2" // 图表中各个图区域的颜色
                    },
                    data: [
                        {
                            value: [84.9, 72.2, 91.8, 77.3],
                            name: '2018',
                        }
                    ]
                }
                ]
            };
            myChart.setOption(option);
        }
        e_radar_chart_blpc('chart3');
        e_radar_chart_zxht('chart6')
        e_radar_chart_bhzxtzz('chart9');

        // 仪表图函数，输入id
        function gauge_chart_blpc(chart_name){
            // 时间
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['64%', '45%'],
                    size: '72%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: null,
                        y: -67,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '办理破产',
                    data: [81.1],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:26px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            })
        }
        function gauge_chart_zxht(chart_name){
            // 时间
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['64%', '45%'],
                    size: '72%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: null,
                        y: -67,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '执行合同',
                    data: [86.5],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:26px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            })
        }
        function gauge_chart_bhzxtzz(chart_name){
            // 时间
            var chart = Highcharts.chart(chart_name, {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false,
                },
                pane: {
                    center: ['64%', '45%'],
                    size: '72%',
                    startAngle: 0,
                    endAngle: 360,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: [
                        [0.1, '#d2e9ff'],
                        [0.2, '#acd6ff'],
                        [0.3, '#84c1ff'],
                        [0.4, '#46a3ff'],
                        [0.5, '#2894ff'],
                        [0.6, '#0080ff'],
                        [0.7, '#0072e3'],
                        [0.8, '#0066cc'],
                        [0.9, '#004b97'],
                        [1.0, '#003d79']
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    labels: {
                        y: 18
                    },
                    min: 0,
                    max: 100,
                    title: {
                        text: null,
                        y: -67,
                        style: {
                            "fontSize": "medium",
                        }
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -20,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                series: [{
                    name: '保护中小投资者',
                    data: [89.2],
                    innerRadius: 70,
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:26px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                            '<span style="font-size:12px;color:silver"></span></div>'
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            })
        }
        // gauge_chart_blpc('chart1');
        // gauge_chart_zxht('chart4');
        // gauge_chart_bhzxtzz('chart7');

        // 柱状图函数，输入id
        function e_column_chart_blpc(chart_name) {
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                xAxis: {
                    type: 'category',
                    data: ['2018', '2019'],

                },
                yAxis: {
                    type: 'value',
                    min: 0,
                    max: 100,
                    name: '分数'
                },
                series: [{
                    data: [80.1, 81.0],
                    type: 'bar',
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(220, 220, 220, 0.8)'
                    },
                    label: {
                        show: true,
                        position: 'top'
                    },
                }]
            };
            myChart.setOption(option);
        }
        function e_column_chart_zxht(chart_name) {
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                xAxis: {
                    type: 'category',
                    data: ['2018', '2019'],

                },
                yAxis: {
                    type: 'value',
                    min: 0,
                    max: 100,
                    name: '分数'
                },
                series: [{
                    data: [86.6, 89.7],
                    type: 'bar',
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(220, 220, 220, 0.8)'
                    },
                    label: {
                        show: true,
                        position: 'top'
                    },
                }]
            };
            myChart.setOption(option);
        }
        function e_column_chart_bhzxtzz(chart_name) {
            var myChart = echarts.init(document.getElementById(chart_name));
            option = {
                xAxis: {
                    type: 'category',
                    data: ['2018', '2019'],

                },
                yAxis: {
                    type: 'value',
                    min: 0,
                    max: 100,
                    name: '分数'
                },
                series: [{
                    data: [86.3, 89.2],
                    type: 'bar',
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(220, 220, 220, 0.8)'
                    },
                    label: {
                        show: true,
                        position: 'top'
                    },
                }]
            };
            myChart.setOption(option);
        }
        e_column_chart_blpc('chart1');
        e_column_chart_zxht('chart4');
        e_column_chart_bhzxtzz('chart7');


    </script>
{% endblock %}